.dashboard {
  background: #f5f7fb;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

/* NAVBAR */
.navbar {
  height: 60px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  border-bottom: 1px solid #e5e7eb;
}

.navbar button {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
}

.dashboard-container {
  padding: 40px 60px;
}

.dashboard-header h2 {
  font-size: 24px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin: 25px 0;
}

.stat-card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0,0,0,0.05);
}

.stat-card.warning { border-top: 4px solid #f59e0b; }
.stat-card.success { border-top: 4px solid #22c55e; }

.analytics-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 25px;
}


.card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.05);
}

.small-chart {
  width: 300px;
  margin: auto;
}

/* FILTER */
.filter-bar {
  margin: 30px 0;
  display: flex;
  gap: 15px;
}

.filter-bar input,
.filter-bar select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

thead {
  background: #f3f4f6;
}

.badge {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  color: white;
}

.badge.High { background: #ef4444; }
.badge.Low { background: #22c55e; }

/* AI SUGGESTION */
.suggestion-box {
  margin-top: 30px;
  background: #eef2ff;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .analytics-grid {
    grid-template-columns: 1fr;
  }

  .dashboard-container {
    padding: 20px;
  }
}

.badge.High {
  background-color: #ef4444;
  color: white;
}

.badge.Medium {
  background-color: #f59e0b;
  color: white;
}

.badge.Low {
  background-color: #22c55e;
  color: white;
}

.stat-card.high {
  border-left: 4px solid #ef4444;
}

.stat-card.medium {
  border-left: 4px solid #f59e0b;
}

.stat-card.low {
  border-left: 4px solid #22c55e;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;   /* space between Dashboard, Students, Logout */
}

/* Remove underline + style links */
.nav-links a {
  text-decoration: none;
  color: #1f2937;
  font-weight: 500;
  transition: 0.3s ease;
}

/* Hover effect */
.nav-links a:hover {
  color: #3b82f6;
}

/* Active link style (VERY IMPORTANT for NavLink) */
.nav-links a.active {
  color: #3b82f6;
  border-bottom: 2px solid #3b82f6;
  padding-bottom: 4px;
}

/* Logout button style */
.nav-links button {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav-links button:hover {
  background: #dc2626;
}
